
main/datasets
**/__pycache__/
main/habitat-lab/
main/experiments/results/main_results/ours_full/00800_*/
main/experiments/results/main_results/straight_turn_policy/00800_*/
main/experiments/results/final_maps/
main/semantic_map.pkl/
main/src/action_pipeline/executor_feature.md
main/src/action_pipeline/way.log
main/src/action_pipeline/action_executor_old.py
main/src/perception_pipeline/build/
main/src/perception_pipeline/ORB_SLAM3/
main/src/perception_pipeline/orb_slam_integration_old.py
main/src/perception_pipeline/umeyama_coordinate_alignment.py
main/src/perception_pipeline/Untitled-1.md
main/src/prediction_pipeline/ijepa_model/
main/src/prediction_pipeline/prototype_images_for_ijepa/